* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  height: 85vh;
  width: 80vw;
  background-color: #1a0d52;
  border-radius: 10px;
}

.ball {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #fe5196;
  position: fixed;
  top: 45vh;
  left: 50vw;
}

.paddle {
  height: 120px;
  width: 15px;
  background-color: #fe5196;
  position: fixed;
  border-radius: 2px;
}

.left {
  top: 40vh;
  left: 12vw;
  position: fixed;
}

.right {
  top: 40vh;
  right: 12vw;
  position: fixed;
}

.fa-circle{
  color: #ffbe76;
  font-size: 32px;
}

.scoreboard{
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1 1 1;
}

.separator{
  width: 4px;
  height: 70%;
  background-color: black;
}
